<body>
<table>
  <tr>
    <th><a href=".">Home</a></th>
    <th><a href="https://replit.com/@YajatYadav/Yajattri2challenges#Main.java">Replit code</a></th>
    <th> <a href="techtalk0">Tech Talk 0 </a> </th>
    <th> <a href="techtalk1">Tech Talk 1 </a> </th>
    <th> <a href="techtalk2">Tech Talk 2 </a> </th>
    <th> <a href="techtalk3">Tech Talk 3 </a> </th>
    <th> <a href="studyplan">AP Study Plan </a> </th>
    <th> <a href="week1frq">Week 1 FRQs </a> </th>
    
  </tr>
</table>
  <br>
</body>
